
<%- include("partials/header") -%>

    <div class="container">
        <div>
            <form class="input" action="/" method="post">
             <input class="text" type="text" name="cityName" placeholder="Enter City Name" style="color:dodgerblue">
             <button type="submit" class="btn btn-info">GO</button>
         </form>
        </div>
    </div>
   
<%- include("partials/footer") -%>